    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }

    section {
        display: block;
    }

    #product {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .left-column {
        width: 40%;
    }

    div {
        display: block;
    }

    .left-column img {
        width: 100%;
        margin-top: 50px;
    }

    .right-column {
        width: 60%;
        margin-top: 40px;
        padding-left: 30px;
    }

    .product-description {
        margin-bottom: 40px;
    }

    .product-description h1 {
        font-weight: 300;
        font-size: 44px;
        letter-spacing: -2px;
    }

    .product-description h4 {
        margin-top: 20px;
        font-weight: 200;
        font-size: 20px;
        letter-spacing: 1px;
        color: rgb(27, 25, 25);
    }   

    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .product-description h3 {
        margin-top: 20px;
        font-weight: 200;
        font-size: 20px;
        letter-spacing: 1px;
        color: rgb(27, 25, 25);
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .product-description h3 span {
        color: #009688;
        font-weight: bold;
    }

    .product-description h3 {
        margin-top: 20px;
        font-weight: 200;
        font-size: 20px;
        letter-spacing: 1px;
        color: rgb(27, 25, 25);
    }

    .product-description p {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300;
        color: #86939e;
    }

    .product-preview .previewImg {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 20px;
    }

    .product-preview .previewImg img {
        margin: 5px;
        width: 15%;
        height: 30%;
        cursor: pointer;
        padding: 4px;
        border-radius: 6px;
    }

    .active {
        border: 2px solid #009688;
    }

    .btn button {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 10px 20px;
        letter-spacing: 2px;
        background-color: #009688;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }