body{

    background-color: #ECF1F5;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;

}

main{

    margin: 5% auto;
    height:100vh;
    background-color: #FEFEFE;
    border-radius: 15px;
    Width: 80%;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    /*background-color: thistle;*/
    box-sizing: border-box;
    padding-top:  20px;
    overflow: hidden;
    
}

#logo{

    width: 250px;    
}

nav{

    display: flex;
   
}

nav a{

    margin-right: 50px;
    text-decoration:none;
    color: grey;
    font-size: 15px;
}

nav a:hover{

    color: black;
}

#signIn-btn{

    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
    border: 0;
    border-radius: 15px;
    margin-right: 100px;
}

section{

    /*background-color: turquoise ;*/
    height: 90vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top:10px;

}

#a1{
    /*background-color: violet;*/
    height: 80vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
   
}

#left-section{
    
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10%;
   
}

#btn-1{

    background-color: #FFD7DB;
    color:blue;
    font-size:10px;
    font-weight: 600;
    padding: 12px 40px;
    margin-top: 30px;
    text-transform: uppercase;
    border: 0;
    border-radius: 20px;
}

#p-1{

    font-size:50px;
    font-weight: 600;
    margin: 0;
}

#p-2{

    color: grey;
    margin-top: 30px;
}

#btn-2{


    background-color: #6A7BFF;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    margin-top: 25px;
    margin-right: 10px;

}

#a2{

    /*background-color: yellow;*/
    height: 90vh;
    width: 60%;
    background-image: url(./landing-section.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    

}

#a3{
    /*background-color: tomato;*/
    height: 20vh;
    width:45%;
    position: absolute;
    margin-top:65vh;
    margin-left: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.arrow-icon{

    
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
     box-shadow: 1px 3px rgb(197, 197, 197);
}



.arrow-icon:hover{

    background-color: #6A7BFF;
    color: white;


}

.page-name{

    font-weight: 500;
}

#pg-no{
    color:  #6A7BFF; 
}

button{
    cursor: pointer;
}

.mobile_menu_wrapper{

    display: none;
}

.dropdown{

    display: none;
}



/*######################## Mobile Responsive ########################################*/

@media (max-width: 900px) {


    nav{
     display: none;
    }

    .mobile_menu_wrapper{

        display: inline;
        margin-right: 50px;
        font-size: 25px;
    }

  

    
.dropdown {
    width: 100px;
    border-top: 2px solid  #6A7BFF;
    padding: 20px;
    position: absolute;
    right: 75px;
    text-decoration:none;
    color: grey;
    font-size: 15px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}

.mobile_menu_wrapper:hover > .dropdown{

    display: block;
   
}

.dropdown a {
    text-decoration: none;
    display: block;
    color: grey;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}

.dropdown a:hover{

    color: black;
}

.dropdown a:last-of-type {
    border: 0;
}

    #signIn-btn{
        display: none;
    }

    main{

        height: 200vh;
    }

    section{
        position: relative;
    }
 
    #a1{

        display: block;
         width:100%;
         height: 70%;
    }
    #a2{

        display: block;
         width:100%;
         margin:0;
        }

    #a3{

        
         position: absolute;
         margin-top: 150vh;
         width: 80%;
         

    }

   
  }