body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
}

.brand {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #e47312;
}
.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.page-content {
    position: relative;
}

.navigation {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
}
.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}
.nav-link.w--current {
    color: #e47312;
}
.nav-link {
    position: relative;
    display: inline-block;
    padding: 31px 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    background-color: transparent;
}

div {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.banner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #c1c3cc;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url(../img/slide-2.jpg);
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}

.section.add-5-percent {
    padding-top: 15%;
    padding-bottom: 5%;
}

.section {
    padding: 10% 5%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.top-title-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.margin-page {
    margin-top: 15%;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.w-col-6 {
    width: 50%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.padding-right {
    padding-left: 100px;
}

.top-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.top-margin.half {
    margin-top: 25px;
}
.top-margin {
    margin-top: 50px;
}

.margin-page._10-percent {
    margin-top: 10%;
}
.margin-page {
    margin-top: 15%;
}

.section.gray.small {
    padding: 8% 0% 20px 20px;
}
.section.gray {
    background-color: #f7f8fc;
}

.section.color {
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(../img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

.section {
    padding: 10% 5%;
}   

.section.logo {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
}

.algin-center {
    position: relative;
    text-align: center;
}

.top-title.smaller-white.no-width {
    display: none;
    margin-right: 0px;
}
.top-title.smaller-white {
    margin-right: 60px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}

.logo-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer {
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

.w-col-4 {
    width: 33.33333333%;
}
.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-column {
    padding-right: 20%;
}   

.copyright-margin {
    margin-top: 80px;
}